@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.box{
    width: 100%;
    height: auto;
    background-color: #dee0e1;
    padding-top: 10px;
}
header, .addExp, .display{
    display: flex;
    width: 90%;
    margin: auto
}
header h1{
    width: 100%;
    color: tomato;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    gap: 20px;
} 
header span{
    color: slateblue;
    font-size: 2rem;
    font-weight: 700;
}
.addExp{
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    height: 60px;
}
#amount{
    width: 30%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: slateblue;
    appearance: none;
    font-size: 1.4rem;
    outline: none;
    font-weight: 500;
}
/* Remove the arrows from Number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input, .custom-select, #date{
    
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
}
.custom-select{
    position: relative;
    width: 30%;
    padding: 10px 20px;
    color: #000;
}
.custom-select select{
    width: 100%;
    padding: 10px 20px;
    color: #000;
    outline: none;
    border: none;
}
#date{
    font-size: 1.4rem;
    padding: 10px;
}
#add{
    padding: 10px 20px;
    background-color: slateblue;
    color: #fff;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1.8px ;
}
#add:hover {
    background-color: #fff;
    color: slateblue;
    border: 1px solid slateblue;
}
/* Table Design */
.display{
    width: 100%;
    display: flex;
}
#table{
    width: 90%;
    margin: auto;
    height: auto;
    padding: 5px;
    background-color: #f1f4c6;
}
table, th, td {
    border: 1px dashed salmon;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
th{
    font-size: 1.1rem;
    color: #9d65c9;
}
td{
    color: #2a3d66;
    font-weight: 500;
    font-size: 1rem;
    padding-left: 10px;
    text-align: left;
}
.delete{
    padding: 4px 10px;
    background: #e04b5a;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    display: block;
    margin: auto;
}
.delete:hover{
    cursor: pointer;
    background: #49493c;
}
